<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>About Me</title>
</head>

<%- include("navbar.ejs") %>

<body>

    <header>
        <h1 class="c">Hi, I'm <%= name %>.</h1>
        <h4 class="c">A <%= age %>-year-old Fullstack Developer.</h4>
    </header>
    <div class = "web-dev-about">
        <h2>Web Development</h2>
        <p>I have experience with the following technologies:</p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Bootstrap</li>
            <li>Node.js</li>
            <li>Express.js</li>
        </ul>
    </div>
    
</body>

<%- include("footer.ejs") %>

</html>