<footer>
    <nav>
        <ul>
            <li><p>© 2026 Vishesh Kudva. All rights reserved.</p></li>
            <li><a href="#top" aria-label="Back to top">Back to top</a></li>
        </ul>
    </nav>
</footer>
