<footer>
    <nav>
        <ul>
            <li><a href="">&copy; 2025 </a></li>
            <li><a href="https://github.com/Visheshbons">Vishesh Kudva.</a></li>
            <li><a href=""> All Rights Reserved.</a></li>
            <li><a href="#top" aria-label="Back to top">Back to top</a></li>
        </ul>
    </nav>
</footer>