<header>
    <h1>Welcome to Vishesh's Portfolio</h1>
    <nav>
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <ul class="menu">
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#hobbies">Hobbies</a></li>
            <li><a href="#projects">Projects</a></li>
        </ul>
    </nav>
</header>
<script>
    function toggleMenu() {
        const menu = document.querySelector('.menu');
        menu.classList.toggle('show');
    }
</script>
