<link rel="stylesheet" href="index.css">

<div class="Header">
    <h1 class="w" title="Why are you hovering over the title?">Vishesh's Site</h1>
    <a class="r" href="index.ejs" title="It's the home page, where all the main stuff is.">Home</a>
    <a class="r" href="about.ejs" title="It's about the person who made the website (I wonder who that could be?)">About</a>
    <a class="r" href="contact.ejs" title="If you want to contact me, then click here!">Contact</a>
</div>